*{
    margin: 0;
    padding: 0;
}
label {
    display: block;
    margin-bottom: 5px;
}

.container{
    background-image: url(download.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}



.main {
    margin-left: 500px;
    margin-top: 50px;
    border:  1px groove black;
    width: 240px;
    height: 370px;
    padding: 90px;
    background-color:rgba(128, 128, 128, 0.82);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px black;
   color: white;
}

.main h2{
    margin-left: -30px;
    margin-top: -80px;
    text-decoration: underline;
    color:yellow;
    font-weight: 800;
}

input {
    width: 200px;
    height: 23px;
    background-color: rgb(234, 233, 229);
    color:black;
    border-bottom: 2px solid rgb(0, 0, 0);
    
    
}

select {
    width: 206px;
    height: 26px;
    background-color:rgb(234, 233, 229);
  
    
  
}

option{
    color: black;
}

#bookingForm{
    margin-top: 10px;
}
.btn-1{
    height: 30px;
    width: 100px;
    background-color: black;
    color: white;
    border-radius: 5px;
}